{% if error %}
    <div class="errorlist">{{ error }}</div>
{% endif %}

<div class="container-fluid d-flex flex-column align-items-center" style="height: 100vh;">

    <div id="register_css" class="row justify-content-start align-items-center">
        <h4 style="text-align: center;">🧏🏻 Fale Conosco 💬</h4>
        <br>
        <form method="POST" class="d-flex" style="background-color: transparent;">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="d-flex flex-row">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>

<style> 
    label {
        font-size: 20px;
        color: #333;
        font-weight: bold; 
        margin-bottom: 5px; 
        display: block; 
        font-family: 'Open Sans', sans-serif;
    }

    button[type="submit"] {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    button[type="submit"]:hover {
        background-color: #0056b3;
    }

    body {
        background: rgb(89, 92, 193);
        background: linear-gradient(180deg, rgba(89, 92, 193, 1) 0%, rgba(139, 141, 219, 1) 100%);
        background-size: 300% 300%; 
        animation: gradientMove 5s ease infinite;
    }
    
    @keyframes gradientMove {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    h4 {
        font-size: 35px;
        color: #fff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        background-color: #8B8DDB;
        width: 100%; 
        text-align: center;
        margin: 0;
        padding: 10px;
    }

    #register_css {
        padding-top: 20px;
        background-color: #ffffff;
        margin: 0 auto; 
        margin-top: 10px; 
        text-align: center;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        padding: 20px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; 
        max-width: 600px; 
    }
    
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea,
    select {
        background-color: #ffffff;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        padding: 10px;
        margin: 0.5em 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        border: 1px solid #ccc; 
        border-radius: 4px;
    }

    
    textarea {
        max-width: 100%; /
        resize: none; 
        overflow: auto; 
    }

    @keyframes flash {
        0%, 100% {
            opacity: 1; 
        }
        50% {
            opacity: 0; 
        }
    }
    
    .errorlist {
        background-color: red; 
        color: white; 
        padding: 10px; 
        border-radius: 5px; 
        text-align: center; 
        width: 100%; 
        max-width: 600px; 
        margin: 10px auto; 
        animation: flash 1s ease-in-out 1; 
    }

    .errorlist li {
        margin: 0; 
    }

</style>
