<!DOCTYPE html>

{% extends "index.html" %}
{% load static %}

{% block main_content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4"><b>Editar Livro</b></h1><br>
        <nav class="navbar bg-body-light">
            
   </nav>

   <h1>Escolha um Livro para Editar:</h1>
    <ul>
        {% for book in books %}
            <li><a href="{% url 'edit_book' book.pk %}">{{ book.book_name }}</a></li>
        {% endfor %}
    </ul>
    </div>

<style> 

    body{
        background: rgb(89,92,193);
    }

    .container{
        background-color: #ffffff;
        border-radius: 25px;
        margin: 2em auto;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    .display-4{
        font-style: normal;
        color: #000000;
        margin-left: 20px;
    }

</style>
{% endblock %}