<!DOCTYPE html>
{% extends "index.html" %}
{% load static %}

{% block main_content %}
<div class="jumbotron">
    <div class="container">
        <img src="{% static '/escola_logo.png'%}" alt="#" Height="45" style="margin-right: 10px;">
        <h1 class="display-4">Bem Vindo</h1>
        <p>Este é um projeto de biblioteca web desenvolvido para escolas, focado em otimizar a gestão de dados pelas bibliotecárias. Ele permite o cadastro de alunos, controle de livros emprestados, registros de devoluções e monitoramento de atrasos.</p>
    </div>

{% endblock %}